@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.base {
  border-radius: $radius-lg;
  background: $card;
}

.cardWrap {
  padding: 14px 14px 12px;
  border-radius: $radius-xl;
  border: 1px solid $border;
  background: $card;
}

.skHeader {
  @include flex-between;
  align-items: flex-start;
  margin-bottom: 8px;
}

.skMeta {
  @include flex-between;
  margin-top: 5px;
}

.skRsiBar {
  margin-top: 9px;
  border-radius: 100px;
}

.skRsiLabel {
  margin-top: 3px;
}
